.misa-btn{
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    margin-right: 24px;
    margin-left: 16px;
    border: none;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
    font-family: GoogleSans-Regular;
}

.misa-normalbtn{
    padding: 0px 24px;
}

.misa-iconbtn{
    padding: 0px 16px;
}

.misa-iconbtn-icon{
    width: 16px;
    height: 16px;
    background-position: center;
}

.misa-iconbtn-text{
    padding-left: 8px;
}

.misa-normalbtn:hover, .misa-normalbtn:focus{
    background-color: #2fbe8e;
}

.misa-iconbtn:hover, .misa-iconbtn:focus{
    background-color: #2fbe8e;
}

.misa-secondbtn:hover, .misa-secondbtn:focus{
    background-color: #e9ebee;
}

.misa-btn:active{
    background-color: #01b075;
    color: #ffffff;
}


.misa-secondbtn{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    padding: 0px 24px;
    color: #000000;
}