body {
    font-family: GoogleSans-Regular;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.text-heading{
    font-family: GoogleSans-Bold;
    font-size: 24px;
    color: #000000;
}

.text-title{
    font-family: GoogleSans-Bold;
    font-size: 24px;
    color: #000000;
}

.text-title2{
    font-family: GoogleSans-Bold;
    font-size: 20px;
    color: #000000;
}

.text-labelfieldinput{
    font-family: GoogleSans-Medium;
    font-size: 15px;
    color: #000000;
}

.text-label{
    font-family: GoogleSans-Regular;
    font-size: 13px;
    color: #454545;
}

.text-contentdetail{
    font-family: GoogleSans-Medium;
    font-size: 13px;
    color: #000000;
}

.text-bodycontent{
    font-family: GoogleSans-Regular;
    font-size: 13px;
    color: #454545;
}

.text-subtext{
    font-family: GoogleSans-Regular;
    font-size: 11px;
    color: #000000;
}

.text-required{
    color: red;
}

input.border-red{
    border: 1px solid #ff4747 ;
}

input.border-red:focus{
    border: 1px solid #ff4747 ;
}

/* width */
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

/* Track */
*::-webkit-scrollbar-track{
    background: #e5e5e5;
}

/* Handle */
*::-webkit-scrollbar-thumb{
    background: #bbbbbb;
    border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover{
    background: #aaaaaa;                             /*need review on color */
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url('../../assets/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url('../../assets/font/GoogleSans-Medium.otf');
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url('../../assets/font/GoogleSans-Bold.otf');
}