.menu{
    background-color: #fff;
    width: 225px;
    border-right: 1px solid #dedede;
    height: calc(100vh - 51px);
}

.menu .menu-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    cursor: pointer;
}

.menu .menu-item:hover{
    background-color: #e5e5e5;
    color: #000000;
}

.menu .menu-item:focus{
    background-color: #019160;
    color: #ffffff;
    font-family: GoogleSans-Medium;
}

.menu-item .menu-item-icon{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    margin: 0px 8px 0px 16px;
}

.icon-dashboard{
    background-image: url('../../icon/dashboard.png');
}

.icon-report{
    background-image: url('../../icon/report.png');
}

.icon-shop{
    background-image: url('../../icon/dashboard.png');
}

.icon-employee{
    background-image: url('../../icon/dic-employee.png');
}

.icon-settings{
    background-image: url('../../icon/setting.png');
}